In [2]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 99

### Reading in first 5 rows to inspect data:

In [5]:
df = pd.read_csv("loans_2007.csv", nrows=5)
df

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

### Calculating the memory usage of 1000 rows in MB:

In [7]:
df = pd.read_csv("loans_2007.csv", nrows=1000)
df.memory_usage(deep=True).sum() / 1024 ** 2

1.5502090454101562

### Determining how many rows we can pull to stay under 5 MB:

In [10]:
memory = 0 
rowcount = 1000
while memory < 5:
    df = pd.read_csv("loans_2007.csv", nrows = rowcount)
    oldmemory = memory
    memory = df.memory_usage(deep=True).sum() / 1024 ** 2
    rowcount += 100

print(oldmemory, rowcount)

4.959044456481934 3400

### Find total rows in data set and start data processing in chunks:

In [13]:
c_iter = pd.read_csv("loans_2007.csv", chunksize=3400)
numrows = 0
for c in c_iter:
    numrows += len(c)
print(numrows)

42538

### Find out how many columns have a numeric and string types:

In [17]:
c_iter = pd.read_csv("loans_2007.csv", chunksize=3400)
nums = []
strings = []
for c in c_iter:
    nums.append(c.select_dtypes(include=[np.number]).shape[1])
    strings.append(c.select_dtypes(include=["object"]).shape[1])
print(nums)
print(strings)

[31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 30, 30]
[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 22, 22]

### How many unique values are in each string column?

In [3]:
c_iter = pd.read_csv("loans_2007.csv", chunksize=3400)
unique_counts = {}
for c in c_iter:
    str_objs = c.select_dtypes(include=["object"])
    columns = str_objs.columns
    for col in columns:
        if col in unique_counts:
            unique_counts[col].append(c[col].value_counts())
        else:
            unique_counts[col] = [c[col].value_counts()]
unique_counts

uc_combined = {}
for col in columns:
    uc_joined = pd.concat(unique_counts[col])
    uc_final = uc_joined.groupby(uc_joined.index).sum()
    uc_combined[col] = uc_final
for k in uc_combined:
    print(uc_combined[k])
    print("\n")

100134                                             1
100214                                             1
101579                                             1
102376                                             1
102823                                             1
                                                  ..
99982                                              1
99987                                              1
Loans that do not meet the credit policy           1
Total amount funded in policy code 1: 471701350    1
Total amount funded in policy code 2: 0            1
Name: id, Length: 5138, dtype: int64


 36 months    31534
 60 months    11001
Name: term, dtype: int64


  5.42%    573
  5.79%    410
  5.99%    347
  6.00%     19
  6.03%    447
          ...
 23.59%      4
 23.91%     11
 24.11%      3
 24.40%      1
 24.59%      1
Name: int_rate, Length: 394, dtype: int64


A    10183
B    12389
C     8740
D     6016
E     3394
F     1301
G      512
Name: grade, dtype: int64


A1    1142
A2    1520
A3    1823
A4    2905
A5    2793
B1    1882
B2    2113
B3    2997
B4    2590
B5    2807
C1    2264
C2    2157
C3    1658
C4    1370
C5    1291
D1    1053
D2    1485
D3    1322
D4    1140
D5    1016
E1     884
E2     791
E3     668
E4     552
E5     499
F1     392
F2     308
F3     236
F4     211
F5     154
G1     141
G2     107
G3      79
G4      99
G5      86
Name: sub_grade, dtype: int64


  old palm inc                       1
 Brocade Communications              1
 CenturyLink                         1
 Department of Homeland Security     1
 Down To Earth Distributors, Inc.    1
                                    ..
zashko inc.                          1
zeno office solutions                1
zion lutheran school                 1
zoll medical corp                    1
zozaya officiating                   1
Name: emp_title, Length: 30658, dtype: int64


1 year       3595
10+ years    9369
2 years      4743
3 years      4364
4 years      3649
5 years      3458
6 years      2375
7 years      1875
8 years      1592
9 years      1341
< 1 year     5062
Name: emp_length, dtype: int64


MORTGAGE    18959
NONE            8
OTHER         136
OWN          3251
RENT        20181
Name: home_ownership, dtype: int64


Not Verified       18758
Source Verified    10306
Verified           13471
Name: verification_status, dtype: int64


Apr-2008     259
Apr-2009     333
Apr-2010     912
Apr-2011    1563
Aug-2007      74
Aug-2008     100
Aug-2009     446
Aug-2010    1175
Aug-2011    1934
Dec-2007     172
Dec-2008     253
Dec-2009     658
Dec-2010    1335
Dec-2011    2267
Feb-2008     306
Feb-2009     302
Feb-2010     682
Feb-2011    1298
Jan-2008     305
Jan-2009     269
Jan-2010     662
Jan-2011    1380
Jul-2007      63
Jul-2008     141
Jul-2009     411
Jul-2010    1204
Jul-2011    1875
Jun-2007      24
Jun-2008     124
Jun-2009     406
Jun-2010    1105
Jun-2011    1835
Mar-2008     402
Mar-2009     324
Mar-2010     828
Mar-2011    1448
May-2008     115
May-2009     359
May-2010     989
May-2011    1704
Nov-2007     112
Nov-2008     209
Nov-2009     662
Nov-2010    1224
Nov-2011    2232
Oct-2007     105
Oct-2008     122
Oct-2009     604
Oct-2010    1232
Oct-2011    2118
Sep-2007      53
Sep-2008      57
Sep-2009     507
Sep-2010    1189
Sep-2011    2067
Name: issue_d, dtype: int64


Charged Off                                             5634
Current                                                  961
Default                                                    3
Does not meet the credit policy. Status:Charged Off      761
Does not meet the credit policy. Status:Fully Paid      1988
Fully Paid                                             33136
In Grace Period                                           20
Late (16-30 days)                                          8
Late (31-120 days)                                        24
Name: loan_status, dtype: int64


n    42534
y        1
Name: pymnt_plan, dtype: int64


car                    1615
credit_card            5477
debt_consolidation    19776
educational             422
home_improvement       3199
house                   426
major_purchase         2311
medical                 753
moving                  629
other                  4425
renewable_energy        106
small_business         1992
vacation                400
wedding                1004
Name: purpose, dtype: int64


\tdebt_consolidation         2
   HITEK  EQUIPMENT          1
 APRILIA TUONO 1000R         1
 Auto                        1
 Auto Loan                   1
                            ..
zack                         2
zandercade                   1
zipcar                       1
zxcvb                        1
îîMY FIRST CAR îî    1
Name: title, Length: 21264, dtype: int64


007xx      1
010xx    106
011xx     17
012xx     16
013xx     14
        ...
995xx     35
996xx     15
997xx     22
998xx     10
999xx      1
Name: zip_code, Length: 837, dtype: int64


AK      86
AL     484
AR     261
AZ     933
CA    7429
CO     857
CT     816
DC     224
DE     136
FL    3104
GA    1503
HI     181
IA      12
ID       9
IL    1672
IN      19
KS     298
KY     359
LA     461
MA    1438
MD    1125
ME       3
MI     796
MN     652
MO     765
MS      26
MT      96
NC     830
NE      11
NH     188
NJ    1988
NM     205
NV     527
NY    4065
OH    1329
OK     317
OR     468
PA    1651
RI     208
SC     489
SD      67
TN      32
TX    2915
UT     278
VA    1487
VT      57
WA     888
WI     516
WV     187
WY      87
Name: addr_state, dtype: int64


Apr-1964      3
Apr-1966      1
Apr-1967      4
Apr-1968      1
Apr-1969      1
           ...
Sep-2004    221
Sep-2005    162
Sep-2006    150
Sep-2007     63
Sep-2008      8
Name: earliest_cr_line, Length: 530, dtype: int64


0%       1070
0.01%       1
0.03%       1
0.04%       1
0.05%       1
         ...
99.5%      24
99.6%      27
99.7%      32
99.8%      25
99.9%      29
Name: revol_util, Length: 1119, dtype: int64


f    42535
Name: initial_list_status, dtype: int64


Apr-2008     23
Apr-2009     72
Apr-2010    145
Apr-2011    519
Apr-2012    781
           ...
Sep-2011    491
Sep-2012    802
Sep-2013    712
Sep-2014    694
Sep-2015    211
Name: last_pymnt_d, Length: 103, dtype: int64


Apr-2009     24
Apr-2010     77
Apr-2011    177
Apr-2012    326
Apr-2013    445
           ...
Sep-2011    175
Sep-2012    414
Sep-2013    408
Sep-2014    564
Sep-2015    531
Name: last_credit_pull_d, Length: 108, dtype: int64


INDIVIDUAL    42535
Name: application_type, dtype: int64

### Find string columns that contain less than 50% unique values to identify candidates for conversion to category data type:

In [65]:
category_columns = []

for col in unique_counts.keys():
    #print(col)
    #print(unique_counts[col].size)
    #print(unique_counts[col].sum())
    unique_count = unique_counts[col].size
    total_count = unique_counts[col].sum()
    
    if total_count != 0 and unique_count / total_count < .5:
        category_columns.append((col, unique_count))
        
for row in category_columns:
    print(row)

('verification_status', 3)
('emp_length', 11)
('revol_util', 919)
('pymnt_plan', 1)
('grade', 7)
('last_credit_pull_d', 55)
('sub_grade', 35)
('home_ownership', 3)
('earliest_cr_line', 378)
('purpose', 13)
('addr_state', 43)
('zip_code', 593)
('title', 1577)
('last_pymnt_d', 55)
('application_type', 1)
('initial_list_status', 1)
('term', 2)

### Find which floats have no missing values and could be candidates to convert to integers:

In [70]:
c_iter = pd.read_csv("loans_2007.csv", chunksize=3400)

null_counts_combined = []
for c in c_iter:
    null_counts_combined.append(c.select_dtypes(include=["float"]).isnull().sum())
null_counts_overall = pd.concat(null_counts_combined)
null_counts_overall.groupby(null_counts_overall.index).sum()

acc_now_delinq                  32
annual_inc                       7
chargeoff_within_12_mths       148
collection_recovery_fee          3
collections_12_mths_ex_med     148
delinq_2yrs                     32
delinq_amnt                     32
dti                              3
funded_amnt                      3
funded_amnt_inv                  3
inq_last_6mths                  32
installment                      3
last_pymnt_amnt                  3
loan_amnt                        3
member_id                        3
open_acc                        32
out_prncp                        3
out_prncp_inv                    3
policy_code                      3
pub_rec                         32
pub_rec_bankruptcies          1368
recoveries                       3
revol_bal                        3
tax_liens                      108
total_acc                       32
total_pymnt                      3
total_pymnt_inv                  3
total_rec_int                    3
total_rec_late_fee               3
total_rec_prncp                  3
dtype: int64

### Calculate the total memory usage across all chunks:

In [74]:
c_iter = pd.read_csv("loans_2007.csv", chunksize=3400)
mem_list = []
for c in c_iter:
    mem_list.append(c.memory_usage(deep=True).sum())
sum(mem_list) / 1024 ** 2

66.29912662506104